body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000;

  background-color: #dbdbdb;
}

.App {
  text-align: center;
}

.App-render {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  text-align: center;
  justify-content: center;
  align-items: center;
}
